@font-face{
	font-family:"Free 3 of 9";
	src: url(fonts/free3of9.ttf);
}
.pTicket{
	position: absolute;
	width: 987px;
	height: auto;
	text-align: center;
}
.c1Centro{
	width: 602px;
	text-align: center;
	margin: 0px auto;
}
.ticket1{
	float: left;
	width: 300px;
	height: auto;
	border: 1px solid;
}
.txtTicket{
	padding: 0px 10px;
	font-family: monospace;
}
.txtTicketAIz{
	padding: 0px 10px;
	font-family: monospace;
	text-align: left;
}
.txtTicketCod{
	font-size: 40px;
	font-family: "Free 3 of 9";
}
.centTab{
	margin: 0px auto;
}
.tabTicket{
	padding: 0px 3px;
	font-family: monospace;
}
.tabTicketDer{
	text-align: right;
	padding: 0px 3px;
	font-family: monospace;
}
.pChico{
	margin: 0px 10px;
}
.cForm{
	float: left;
	padding: 0px 10px 0px 10px;
	width: 280px;
	height: 422px;
	padding-top: 50px;
}
.inRegC{
	text-align: center;
	font-family: "Gotham-Bold";
	font-size: 18px;
	color: #003366;
	width: 200px;
	height: 40px;
	padding: 0px 10px;
	margin: 0px 0px;
	border: 1px solid;
	border-color: #003366;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
.cajaBold{
	font-family: "Gotham-Bold";
	font-size: 18px;
	color: #003366;
}